<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <title>Regnskab</title>
</head>

<body>
    <div id="app">
        <table width="100%">
            <tr>
                <td>
                    <h1>Regnskab</h1>
                </td>
                <td>
                    <a href="https://nice-rock-09b5d2203.4.azurestaticapps.net/" class="btn btn-info btn-lg">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </td>
            </tr>
        </table>
        
        <table width="100%">
            <tr>
                <td>
                    <input placeholder="Navn" type="text" v-model="firstName" v-on:keyup.enter="filterByName(firstName)">
        <button v-on:click="filterByName(firstName)" class="btn btn-primary">Filter</button>
                </td>
                <td>
                    <button v-on:click="sumOfAmount()" class="btn btn-success">Sum</button>
            {{ totalSum }}
                </td>
            </tr>
        </table>

        
          
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Bruger ID</th>
                    <th>Navn</th>
                    <th>Type</th>
                    <th>Pris (Dkr)</th>
                </tr> 
            </thead>
            <tbody id="accountinglist" :key="firstName">
                <tr v-for="accounting in accountings" :key="accounting.id">
                    <td>{{ accounting.id }}</td>
                    <td>{{ accounting.userId }}</td>
                    <td>{{ getUserName(accounting.userId) }}</td>
                    <td>{{ accounting.type }}</td>
                    <td>{{ accounting.amount }}</td>
                </tr>
            </tbody>            
        </table>        
    </div>
    <script src="accounting.js"></script>
</body>

</html>