<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <title>Regnskab</title>
</head>

<body>
    <div id="app">
        <h1>Regnskab</h1>
        <input placeholder="Navn" type="text" v-model="firstName" v-on:keyup.enter="filterByName(firstName)">
        <button v-on:click="filterByName(firstName)" class="btn btn-primary">Filter</button>
        <th>
            <button v-on:click="sumOfAmount()">Sum</button>
            <td>{{ totalSum }}</td>
        </th>  
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Bruger ID</th>
                    <th>Navn</th>
                    <th>Type</th>
                    <th>Pris (Dkr)</th>
                </tr> 
            </thead>
            <tbody id="accountinglist" :key="firstName">
                <tr v-for="accounting in accountings" :key="accounting.id">
                    <td>{{ accounting.id }}</td>
                    <td>{{ accounting.userId }}</td>
                    <td>{{ getUserName(accounting.userId) }}</td>
                    <td>{{ accounting.type }}</td>
                    <td>{{ accounting.amount }}</td>
                </tr>
            </tbody>            
        </table>        
    </div>
    <script src="accounting.js"></script>
</body>

</html>