<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <title>Opret Bruger</title>
</head>

<body>
    <div id="app">
        <!-- Box Color #28a745 -->
        <h1>Create</h1>
        <div class="form-group col">
            <div class="col-4 d-flex flex-column">
                <input type="text" id="addFirstName" class="form-control" v-model="addData.firstName"
                    placeholder="Fornavn">
                <input type="text" id="addLastName" class="form-control" v-model="addData.lastName"
                    placeholder="Efternavn">
                <input type="text" id="addEmail" class="form-control" v-model="addData.email" placeholder="Email">
                <div class="d-flex justify-content-center align-items-center">
                    +45&nbsp;
                    <input type="text" id="addMobileNumber" class="form-control" v-model="addData.mobileNumber"
                        placeholder="Telefonnummer">

                </div>

                <button id="addUser" class="btn btn-danger" v-on:click="addUser()">Add</button>
            </div>
        </div>
    </div>
    <script src="create.js"></script>
</body>

</html>